* {
    padding: 0;
}

body {
    font-family: Helvetica;
}


.link-ref {

    background-color: rgb(240, 199, 16);
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;

}

.link-ref:hover {
    background-color: sandybrown;
}



.content-main  {
   text-align: center;
   width: 500px;
   margin: auto;
   height: 70vh;

}

.perfil {
    border-radius: 50%;
    border: 2px solid black;
   
}

.btn-github {
    border:2px solid black;
    border-radius: 8px;
    padding:10px;
    color: #000;
    text-decoration: none;
    background-color: white;
    
}

.btn-github img {
    transform: translateY(5px);
}

.ref-port {
    border-radius: 30px;
}

.cont-clases {
    height: 100vh;
    background-color: rgb(193, 229, 250);
}






